* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #EBEBEB;
}

.carregar2{
    position: fixed;
    top: 300px;
    left: 54%;
}

.content {
    right: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.semCand p{
    color: #b8b4b4ae;
    font-size: 18px;
    font-weight: bolder;
    font-style: oblique;
}

.candidate-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    width: 100%; 
}

.candidate-box img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin-right: 20px; 
}

.candidate-name {
    font-size: 18px;
    font-weight: bold;
    margin-right: auto; 
}

.candidate-actions {
    display: flex;
    align-items: center; 
    margin-left: auto;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; 
    padding: 5px 8px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; 
    width: 50px; 
}

.button-aceitar {
    background-color: #4CAF50; 
    color: white;
}

.button-aceitar:hover {
    background-color: #45a049;
}

.button-negar {
    background-color: #f44336; 
    color: white;
}

.button-negar:hover {
    background-color: #d32f2f; 
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title-line {
    width: 60px;
    height: 4px;
    background-color: #E97911;
    margin: 0 auto;
    margin-bottom: 30px;
}
