
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #EBEBEB;
  }

  .addBico-container{
    padding-top: 90px;
    display: grid;
  
  }

  .bico-app-container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 700px;
  }

  .bico-input-container{
    
    display: grid;
  }
  
  .button-criar-addBico{
    margin-left: 400px;
  }

  h1{
    position: absolute;
    left: 45%;
    top: 60px;
  }

  select{
    width: 800px;
    height: 50px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    border-bottom: 1px #E25401;
  }

  textarea{
    width: 800px;
    height: 100px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    border-bottom: 1px #E25401;
  }

  input{
    width: 900px;
    height: 70px;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    border-bottom: 1px #E25401;
  }

  .error {
    color: red;
    font-size: 0.8em; 
    margin-top: 0.5em; 
}
