* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
  }
  
  .fundooo {
    position: relative;
    height: 100vh;
    background: rgba(0, 0, 0, 0.207);
    backdrop-filter: blur(8px);
  }
  
  .buttons-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
  }

  .cancelar p{
    color: white;
  }
  
  .detalhes-vaga {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 90%;
    text-align: center;
  }
  
  .botao-voltar {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #E97911;
    font-size: 48px;
    text-decoration: none;
    z-index: 1000;
  }
  
  .botao-voltar:hover {
    background-color: #e979112b;
  }
  
  .job-info {
    text-align: left;
  }
  
  .job-name {
    display: flex;
    align-items: center;
  }
  
  .job-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .job-person-name {
    font-weight: bold;
  }
  
  .job-title, .job-timing {
    font-size: 14px;
    color: #555;
  }
  
  .stars {
    display: flex;
    align-items: center;
  }
  
  .stars span {
    font-size: 30px;
    cursor: pointer;
  }
  
  button {
    background-color: #E97911;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }

  .formulario button{
    gap: 10px; 
  }
  
  button:hover {
    background-color: #d7690e;
  }
  
  textarea {
    width: 95%;
    height: 90px;
    margin-top: 5px;
    padding: 8px;
    resize: none;
  }
  