* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
  }
  .sidebar {
    height: 100%;
    width: 500px;
    
    border-right: 3px solid rgba(0, 0, 0, 0.129); /* Borda transparente do lado direito */
}



  .sidebar-logo img {
    width: 500px; 
    padding-top: 50px;
    margin-bottom: 190px;
    margin-left: -55px;
    margin-top: -60px;
}

/* .sidebar::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1;
    height: 100%;
    background-color: #636363;
} */

.sidebar-menu {
    list-style: none;
    padding: 50px;
    width: 100%;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}

.menu-item {
    margin: 25px 0;
    display: flex;
    align-items: center;
}

.menu-item img {
    width: 43px;
    height: 43px;
    margin-right: 20px;
}

.menu-item a {
    text-decoration: none;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.menu-item a:hover {
    color: #F07B07;
}