* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui;
  }

  body {
    background-color: #EBEBEB;
}

 
.histórico-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding-top: 20px;
}

.histórico-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.histórico-title::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: #E97911;
    margin: 5px auto 20px;
}

.histórico-card {
        display: flex;
        background-color: #FFF;
        margin-bottom: 15px;
        padding: 20px;
        border-radius: 5px;
        position: absolute; 
        top: 120px; 
        left: 40%; 
        width: 700px; 
        height: auto; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    
}

.histórico-decorative-line {
    width: 15px;
    background-color: #E97911;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 3px;
}

.histórico-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
}

.histórico-card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.histórico-card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.histórico-finalize-button {
    background-color: #E97911;
    color: #ffffff;
    border: none;
    padding: 8px 38px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.histórico-expiry-text {
    font-size: 14px;
    color: #7d7d7d;
}

.histórico-review-card {
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 80%;
    z-index: 1000;
    text-align: left;
}

.histórico-review-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.histórico-orange-line {
    height: 2px;
    background-color: #E97911;
    margin-bottom: 15px;
}

.histórico-review-card-content {
    display: flex;
    justify-content: space-between;
}

.histórico-left-content {
    flex: 1;
}

.histórico-right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.histórico-payment {
    color: green;
}

.histórico-star-rating span {
    cursor: pointer;
    font-size: 24px;
    color: gray;
}

.histórico- textarea {
    width: 100%;
    height: 80px;
    resize: none;
    border-radius: 4px;
    padding: 5px;
}

.histórico-alert-icon {
    color: red;
    font-size: 20px;
    margin-top: 5px;
}

.histórico-save-button {
    background-color: #E97911;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    border-radius: 4px;
}